/* vh = "viewport height". 
It's a relative length unit where 1vh equals 1% of the total height of the browser's viewport 
   vw = "viewport width" */

#box1{
    h1{
        text-align: center;
        position: relative;
        top: 50%;
    }

    height: 200px;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;           /* so that it doesn't repeats itself */
    background-position: center;           
    background-size: cover;
}

/* combinators: explain the relationships between listed selectors 
    " " = descendant 
    > = child 
    ~ = general sibling  (ek hi parent ke bche)
    + = adjacent sibling (just lga hua sibling) */
#container{
    border: 2px solid;
}
#container p{
    background-color: aqua;
}

/* pseudo-classes: Keywords that are added to a selector to modify the behaviour of an element when they are in a certain state 
example:
for a button, we can use "button:hover", "button:active" and can apply certain css properties for these states
for a link, i.e <a> we can do a:link (to specify properties for the default state) a:hover(for properties when we hover over the link) a:active(when I left click and hold it)
*/

li:hover{
    background-color: rgb(59, 199, 152);
    font-size: 1.1em;
}

#container2 p{
    background-color: rgb(185, 119, 119);
    display: none;
}

#container2:hover p{
    display: block;
}

/* pseudo-elements: Keywords added after a selector that's used to style a specific part of an element
   format-> selector::pseudo-element*/

h1::first-letter{
    font-size: 1.5em;
}