/* use google fonts for good quality and interesting fonts,
   we can either use google api to show fonts from a remote server or can download the fonts on the device
   
   use margin to add margin to elements, we can also use left, right, top and bottom margin, we can use margin: auto to align an element to the center
   flow: use flow to wrap other elements around an element

   Overflow: controls what happens to content that exceeds an element’s box (width/height).
   It works when parent element have a constrained size (width, height, max-height, etc.).
        visible (default): Extra content spills outside the box.
        hidden: Extra content is clipped (not visible).
        scroll: Scrollbars always shown (even if not needed).
        auto: Scrollbars appear only when needed.

    display: property specifies if/how n element is displayed
        block -> Takes full width, starts on a new line.
        inline -> Takes only content width, stays in same line.
        inline-block -> Inline but allows width & height attributes.
        none -> Element is completely removed from layout (not visible).
*/

body{
    background-color: rgb(30, 94, 48);
}

h1{
    
    text-align: center;

    color: rgb(191, 30, 62);
    /* arial is a backup font here, if Verdana won't work then arial will be displayed */
    font-family: Limelight, arial;

    /* border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    we can all these in a single command
    */
    
    border: 1px solid whitesmoke;
    border-radius: 10px;

    /* format->
    text-shadow: horizontal_offset vertical_offset blur color*/
    text-shadow: 4px 4px 5px black;
}

/* 
use # when adding css with ID, 
we can also add css to a group of elements by including them in a class,
use . when adding css to a class
*/

/* for colors, we can use hexcodes(#), rgb values, hsl values, */
/* #p1{
    color: rgb(47, 162, 200);
}
#p2{
    color: #925b36;
}
#p3{
    color: rgb(208, 126, 64);
}
#p4{
    color: hsl(25, 97%, 61%);
}

.odd{
    font-size: larger;
}

.even{
    font-size: small;
} */

p{
    font-family: Oswald, monospace;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;

    border-bottom: 3px solid rgb(191, 30, 62);
    border-top: 3px solid rgb(57, 50, 155);
    border-left: 3px double whitesmoke;
    border-right: 3px double whitesmoke;
    border-radius: 10px;
}

.box{
    width: 45%;
    background-color: rgb(152, 211, 33);
    box-shadow: 4px 4px 4px green, -4px -4px 4px green; /*we can use multiple shadows by using "," I just made a glow effect with it aha */
    border: 2px solid black;
    border-radius: 5px;
    overflow: auto;
    margin: 5px; 
    float: left;
} 
