body{
    margin: 0px;
}

main{
    margin: 5px;
}

header{
    background-color: antiquewhite;
    position: sticky;
    top: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h1{
    font-family: LimeLight, monospace;
    text-align: center;
}

#Navigation_bar{
    display: flex;
    justify-content: center;
    background-color: rgb(98, 98, 98);
}

*{
    box-sizing: border-box;
}
.contents{
    padding: 8px 10px;
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    color: white;
}

.contents:hover{
    background-color: rgb(83, 83, 83);
    border-left: 1px solid black;
    border-right: 1px solid black;
}