*{
    box-sizing: border-box;
}

body{
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    position: relative;           /* this is done so that we can use absolute positioning in buttons class*/
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 700px;
    overflow: hidden;
}

button{
    position: absolute;
    font-size: 7em;
    padding: 10px 20px;
    border: none;
    background-color: rgb(129, 129, 129, 0.7);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.7s ease;
}

button:hover{
    font-size: 8em;
    color: hsl(0, 1%, 50%);
    background-color: hsl(0, 1%, 77%);
}

#image{
    width: 100%;
    transition: opacity 0.7s ease;
    opacity: 1;
}

/* applied to fade out the current image, ABHI YE COMPLETE NHI HUA*/
#image.fade-out {
  opacity: 0;
  transition: opacity 0.4s linear;
}

#previous{
    left: 0px;
}

#next{
    right: 0px;
}