* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: hsl(160, 81%, 31%);
    --red: hsl(3, 74%, 49%);
}

body {
    display: flex;
    height: 100vh;
    background-color: hsl(145, 36%, 45%);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    color: hsl(210, 12%, 17%);
}

h1 {
    font-weight: 600;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    min-width: 500px;
    height: 95%;
    min-height: 470px;
    background-color: hsl(110, 50%, 96%);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

#heading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
}

#heading {
    font-size: 1.5rem;
}

#balanceScreen {
    display: flex;
    height: 30%;
    min-height: 170px;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, hsl(138, 22%, 66%), hsl(86, 40%, 44%));
    border-radius: 0.7rem;
    padding: 0.7rem 0 0.7rem 0;
    /* top right bottom left*/
    margin: 1rem 0 1rem 0;
    /* top right bottom left*/
}

#balanceScreen h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

#balance {
    margin: 0.5rem;
}

#group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#group>div {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 0.7rem;
    padding: 0.5rem 4.5rem;
    background-color: white;
    gap: 0.2rem;
}

#incomeBox {
    color: var(--green);
}

#expensesBox {
    color: var(--red);
}

#transactionBox {
    display: flex;
    width: 100%;
    height: 64%;
    text-align: left;
    overflow: hidden;
}

#transactionBox h3 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.1rem 0 0.5rem 0;
}

#transactions {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
    padding: 0.7rem;
}

#transaction_list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(210, 12%, 57%);
    transition: all ease-out 0.2s;
}

#transaction_list div {
    display: flex;
    border-radius: 0.3rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem 1rem 0.7rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    font-weight: 550;
    font-weight: 550;
    transition: all ease 0.2s;
    animation: stepIn 0.3s ease;
    text-align: center;
}


@keyframes stepIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#transaction_list div:hover .delete-btn{
    opacity: 1;
}

.delete-btn {
    background: none;
  border: none;
  color: #dc2626;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.2s ease;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 12px;
} 

.delete-btn:hover {
    background-color: #fee2e2;
    transform: scale(1.1);
}


.increase {
    box-shadow: 3px 0px var(--green);
}

.increase:hover {
    translate: 3px 0px;
    box-shadow: 3px 0px var(--green), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.decrease {
    box-shadow: 3px 0px var(--red);
}

.decrease:hover {
    translate: 3px 0px;
    box-shadow: 3px 0px var(--red), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#addTransactions {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: hsl(228, 38%, 97%);
    padding: 0.7rem;
    border-radius: 0.7rem;
    justify-content: space-between;
}

#addTransactions div {
    display: flex;
    flex-direction: column;
}

#addTransactions label {
    font-size: 0.7rem;
    font-weight: 550;
    margin: 0.2rem 0 0.3rem 0;
}

#addTransactions input {
    font-size: 0.7rem;
    margin: 0 0 0.3rem 0;
    padding: 0.4rem;
    border: 1px solid hsl(228, 38%, 87%);
    border-radius: 0.3rem;
    outline-color: rgb(0, 0, 134);
    /* this removes the outline which appears when clicked inside the box */
}

#addTransactions p {
    font-size: 0.6rem;
    font-weight: 500;
}

#addTransactions button {
    background-color: hsl(145, 52%, 37%);
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 0.7rem;
    font-weight: 600;
}

#addTransactions button:hover {
    background-color: hsl(145, 52%, 34%);
    cursor: pointer;
}