#heading{
    background-image: url("images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    width: 500px;
}

body{
    background-color: pink;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:cursive;
    align-items: center;
}

#options img{
    border-radius: 80px;
    width: 150px;
}

p{
    font-size: 1.5em;
    margin: 7px;

}

button{
    border: none;
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 9px ;
}