*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(208, 198, 170, 0.986);
}

#main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 1px 1px 5px;
    border-radius:15px;

    width: 300px;
    height: max-content;
}

#display{
    width: 100%;
    height: 60px;
    background-color: hsl(0, 0%, 26%);
    border: 0cap;
    color: white;
    font-size: xx-large;
    padding: 2px 20px;
}

#buttonArea{
    display: flex;
    flex-wrap: wrap;
    padding: 9px;
    background-color:hsl(0, 0%, 16%);
}

button{
    width: 60px;
    height: 60px;
    font-size: x-large;
    border-radius: 60px;
    margin: 5px;
    border: 0cap;
    background-color:hsl(0, 0%, 26%);
    font-weight: bold;
}

.numberButton{
    background-color:hsl(0, 0%, 46%);
}

.oprButton{
    background-color: hsl(35, 81%, 54%);
}

.numberButton:hover{
    background-color:hsl(0, 0%, 56%);
}

.oprButton:hover{
    background-color: hsl(35, 81%, 64%);
}